# Backend
backend/__pycache__/
backend/*.pyc
backend/.env
backend/venv/
backend/.vscode/
backend/.idea/

# Frontend
frontend/node_modules/
frontend/build/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.*.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

# ML/DS
ml/__pycache__/
ml/*.pyc
ml/venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Misc
*.log
.env
.env.local
